/* Write your CSS here */

.denomination-item {
  list-style-type: none;
  width: 50%;
  margin-bottom: 15px;
}

.denomination-button {
  background-color: #382f5a;
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .denomination-button {
    font-size: 25px;
  }
}
